<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 <div class="field">
    <%= f.label :released %><br />
    <%= f.date_select :released, :start_year => 1980 %>
  </div>
 <div class="field">
    <%= f.label :movie_format_id %><br />
	<%= collection_select(:movie, :movie_format_id, MovieFormat.all, :id, :name, :prompt => true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
