<h1>Listing movies</h1>

<table>
  <tr>
    <th>Código</th>
    <th>Nombre</th>
    <th>Tipo</th>
	<th>Checked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
	<% movie.set_kind_of_movie %>
  <tr>
    <td><%= movie.code %></td>
    <td><%= movie.name %></td>
    <td><%= movie.movie_kind.name if movie.movie_kind %></td>
    <td><%= movie.checked %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
