<h1><%=t :Movies %></h1>

<table>
  <tr>
    <th><%=t :Code %></th>
    <th><%=t :Name %></th>
    <th><%=t :Kind %></th>
	<th><%=t :Checked %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
	<% movie.set_kind_of_movie %>
  <tr>
    <td><%=t movie.code %></td>
    <td><%=t movie.name %></td>
    <td><%=t movie.movie_kind.name if movie.movie_kind %></td>
    <td><%= check_box_tag(:checked, :checked, movie.checked, :disabled => true) %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
