<p id="notice"><%= notice %></p>

<p>
  <b><%=t :Code %></b>
  <%= @movie.code %>
</p>

<p>
  <b><%=t :Name %></b>
  <%= @movie.name %>
</p>

<p>
  <b>IMDB:</b>
  <%= @movie.imdb_id %>
</p>

<p>
  <b><%=t :genres %></b>
  <%= @movie.genres %>
</p>

<p>
  <b><%=t :actors %></b>
  <%= @movie.actors %>
</p>
<p>
  <b><%=t :Director%></b>
  <%= @movie.director %>
</p>

<p>
  <b><%=t :fecha %></b>
  <%= @movie.released %>
</p>

<p>
  <b><%=t :format %></b>
  <%= @movie.movie_format.name %>
</p>

<div class="field"> 
    <%= image_tag(@movie.poster) %>
  </div>
<%= link_to t('Edit'), edit_movie_path(@movie) %> |
<%= link_to t('Back'), movies_path %>
