<%= form_for(@weekday) do |f| %>
  <% if @weekday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekday.errors.count, "error") %> prohibited this weekday from being saved:</h2>

      <ul>
      <% @weekday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dayname %><br />
    <%= f.text_field :dayname %>
  </div>
  <div class="field">
    <%= f.label :daynumber %><br />
    <%= f.number_field :daynumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
