<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @user.code %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @user.cellphone %>
</p>

<p>
  <b>City:</b>
  <%= @user.city.nombre %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender.description %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
