<h1>Listing rent_prices</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Days</th>
    <th>Weekday</th>
    <th>Surcharge</th>
<th>Movie Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rent_prices.each do |rent_price| %>
  <tr>
    <td><%= rent_price.description %></td>
    <td><%= rent_price.price %></td>
    <td><%= rent_price.days %></td>
    <td><%= rent_price.weekday.dayname %></td>
    <td><%= rent_price.surcharge %></td>
	<td><%= rent_price.movie_kind.name %></td>
	
    <td><%= link_to 'Show', rent_price %></td>
    <td><%= link_to 'Edit', edit_rent_price_path(rent_price) %></td>
    <td><%= link_to 'Destroy', rent_price, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rent price', new_rent_price_path %>
