<%= form_for(@rent) do |f| %>
  <% if @rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% @rent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br/>
<div id="custom_msg">	
</div>
<h2>Customer</h2>
  <div class="field">	
    <%= f.autocomplete_field :customer_code, autocomplete_customer_code_rents_path, :size => 50 %><br/>		  
  </div>		
<h2>Movies</h2>
<a href="#" class="add">add movie</a>
  <div class="container">
	<% @contador=0 %>
    <%= f.nested_fields_for :rent_details do |f| %>
      <fieldset class="item">
	
		<div class="field">
       		<%= f.autocomplete_field :movie_code, autocomplete_movie_code_rent_details_path, :size => 30 %> 			
		<span class="item_details">
			<%= f.hidden_field :movie_id %>
						
			<%= f.label(:movie_kind, @rent.rent_details[@contador].movie_kind.name) if !@rent.rent_details[@contador].nil?%>
			<%= f.label(:movie_kind, "") if @rent.rent_details[@contador].nil?%>
			<%= f.hidden_field :movie_kind_id %>
			
			<span class="rent_price_label"> 
				<%= f.label(:rent_price_id, number_to_currency(@rent.rent_details[@contador].rent_price.price)) if !@rent.rent_details[@contador].nil?%>	
				<%= f.label(:rent_price_id, "") if @rent.rent_details[@contador].nil?%>				
			</span>
			<span class="rent_price_value" style="display:none"> 
			<%= f.collection_select(:rent_price_id, @rent_prices, :id, :price) %>			
			</span>
			<span class="delivered_date_label"> 
				<%= f.label(:delivered_date, @rent.rent_details[@contador].delivered_date.strftime("Entregar %Y-%m-%d %H:%M")) if !@rent.rent_details[@contador].nil?%>
				<%= f.label(:delivered_date, "") if @rent.rent_details[@contador].nil?%>				
			</span>
			<span class="delivered_date_value" style="display:none"> 
				<%= f.datetime_select :delivered_date, :discard_time => true%> 
			</span>
		</span>				
			<a href="#" class="remove">remove</a>
	        <%= f.hidden_field :id %>
			<%= f.hidden_field :_destroy %>
		</div>
		
		
      </fieldset>
	<% @contador=@contador+1 %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
