<h1>Rentas</h1>
<table>
  <tr>
    <th>Cliente</th>
    <th>Rentada el</th>
    <th>Total</th>
	<th></th>
    <th></th>
	<th></th>
  </tr>

<% @rents.each do |rent| %>
  <tr>
    <td><%= rent.customer_code_name %></td>
    <td><%= rent.created_at.strftime("%d-%m-%Y %H:%M") %></td>
	<td><%= number_to_currency(rent.total) %></td>
    <td><%= link_to 'Ver', rent %></td>
    <td><%= link_to 'Editar', edit_rent_path(rent) %></td>
    <td><%= link_to 'Borrar', rent, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Renta', new_rent_path %>
