<h1><%=t :Rents %></h1>

<table class="tabla">
  <tr>
    <th><%=t :Customer %></th>
    <th><%=t :Rent %></th>
    <th><%=t :Total %></th>
    <th></th>
	<th></th>
  </tr>
<%= form_for(:rent, :url => { :action => "index" }, :html => {:method => :get} ) do |f| %>
<tr>
    <td><%= f.text_field :customer, :class => "extralarge" %></td>
    <td><%= f.text_field :created_at, :class => "medium" %></td>    
	<td><%= f.submit "Diario", :class => "submit" %></td>	
    <td><%= link_to t("Export"), params.merge(:format => :csv), :class => "filter_link" %></td>
    <td><%= f.submit t("Filter"), :class => "submit" %></td>
  </tr>
<% end %>
<%= paginate @rents %>
<% @rents.each do |rent| %>
  <tr>
    <td><%= rent.customer_code_name %></td>
    <td><%= rent.created_at.strftime("%d-%m-%Y %H:%M") %></td>
	<td><%= number_to_currency(rent.total) %></td>
    <td><%= link_to t('Show'), rent %></td>
    <td><%= link_to t('Destroy'), rent, confirm: t('Are you sure?'), method: :delete %></td>
  </tr>
<% end %>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
	<td><%= number_to_currency(@suma) if !@suma.nil? %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<br />
<%= link_to t('New'), new_rent_path, :class => "filter_link" %>

