<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br />
    <%= f.text_area :address, :cols => 36, :rows => 2  %>
  </div>
  <div class="field">
    <%= f.label :Telefono %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :Celular %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :Ciudad %><br />
	<%= collection_select(:customer, :city_id, City.all, :id, :nombre, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :Cumpleaños %><br />
    <%= f.date_select :birthday, :start_year => 1960 %>
  </div>
  <div class="field">
    <%= f.label :Genero %><br />
	<%= collection_select(:customer, :gender_id, Gender.all, :id, :description, :prompt => true) %>   
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
