<%= form_for(@customer, :html => { :class => "forma"}) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label t(:Document_number) %> <br />
	(Debe ser No.IFE o matrícula escolar) <br/>
    <%= f.text_field :document_number %>&nbsp;<%= label_tag "Es matrícula escolar" %><%= f.check_box :is_school_id %>
  </div>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name%>
  </div>
  <div class="field">
    <%= f.label t(:address) %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t(:cellphone) %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label t(:City) %><br />
	<%= f.collection_select(:city_id, City.all, :id, :nombre, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label t(:birthday) %><br />
    <%= f.date_select :birthday, :start_year => 1950 %>
  </div>
  <div class="field">
    <%= f.label t(:gender) %><br />
	<%= collection_select(:customer, :gender_id, Gender.all, :id, :description, :prompt => true) %>   
  </div>  
  <div class="field">
    <%= f.label t(:Email) %><br />
    <%= f.text_field :email %>
  </div>

<br/>

<%= nested_fields_for f, :references, :legend => t(:References) %>
<%= nested_fields_for f, :comprobantes %>

<br/>
<div class="actions">
    <%= f.submit t("Save"), :class => "submit" %>
  </div>
<% end %>
