<%= form_for(@deal_detail) do |f| %>
  <% if @deal_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal_detail.errors.count, "error") %> prohibited this deal_detail from being saved:</h2>

      <ul>
      <% @deal_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_kind_id %><br />
    <%= f.number_field :movie_kind_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :days %><br />
    <%= f.number_field :days %>
  </div>
  <div class="field">
    <%= f.label :weekday %><br />
    <%= f.number_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :surcharge %><br />
    <%= f.text_field :surcharge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
