<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "forma"}) do |f| %>  

<ol>  
    <li><%= f.label t(:username) %> <%= f.text_field :username %></li>  
    <li><%= f.label t(:password) %> <%= f.password_field :password %></li>  
  	<li>&nbsp;</li>	
    <li><%= f.submit "Entrar", :class => "submit" %></li>  
</ol>


<% end %>  

<%= render :partial => "devise/shared/links" %>


