<%= javascript_include_tag "jquery.maskMoney" %>
<%= form_for(@movie_kind) do |f| %>
  <% if @movie_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_kind.errors.count, "error") %> prohibited this movie_kind from being saved:</h2>

      <ul>
      <% @movie_kind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:description) %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label t(:expiration_days) %><br />
    <%= f.text_field :expiration_days, :maxlength => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
