<h1>Listing movie_kinds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Expiration days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movie_kinds.each do |movie_kind| %>
  <tr>
    <td><%= movie_kind.name %></td>
    <td><%= movie_kind.description %></td>
    <td><%= movie_kind.expiration_days %></td>
    <td><%= link_to 'Show', movie_kind %></td>
    <td><%= link_to 'Edit', edit_movie_kind_path(movie_kind) %></td>
    <td><%= link_to 'Destroy', movie_kind, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie kind', new_movie_kind_path %>
