<p id="notice"><%= notice %></p>

<p>
  <b><%=t :Name%>:</b>
  <%= @movie_kind.name %>
</p>

<p>
  <b><%=t :Description%>:</b>
  <%= @movie_kind.description %>
</p>

<p>
  <b><%=t :Expiration_days%>:</b>
  <%= @movie_kind.expiration_days %>
</p>


<%= link_to t('Edit'), edit_movie_kind_path(@movie_kind) %> |
<%= link_to t('Back'), movie_kinds_path %>
