<div class="field">
			    <%= f.label t(:Name) %><br />
			    <%= f.text_field :name, :size => 50 %>
			  </div>
			 <%= f.label t(:Address) %><br />
		    <%= f.text_area :address, :cols => 36, :rows => 2  %>
			  <div class="field">
			    <%= f.label t(:Phone) %><br />
			    <%= f.text_field :phone %>
			  </div>
			  <div class="field">
			    <%= f.label t(:Cellphone) %><br />
			    <%= f.text_field :cellphone %>
			  </div>
			  <div class="field">
			    <%= f.label t(:City) %><br />
				<%= collection_select(:reference, :city_id, City.all, :id, :nombre, :prompt => true) %>
			  </div>
			 <div class="field">
			    <%= f.label t(:Birthday) %><br />
			    <%= f.date_select :birthday, :start_year => 1950 %>
			  </div>
			  <div class="field">
			    <%= f.label t(:Gender) %><br />
				<%= collection_select(:reference, :gender_id, Gender.all, :id, :description, :prompt => true) %>   
			  </div>
			  <div class="field">
			    <%= f.label t(:Email) %><br />
			    <%= f.text_field :email %>
			  </div>
			  <div class="field">
		    <%= f.label t(:Document_number) %><br />
		    <%= f.text_field :document_number %>
		  	</div>		
			<div class="field">
			    <%= f.label t(:parentesco) %><br />
			    <%= f.text_field :parentesco %>
			  </div>
			<div class="field">
			    <%= f.label t(:tiempo_conocer) %>&nbsp;(en años)<br />
			    <%= f.number_field :tiempo_conocer, :maxlength => 2 %>			
			  </div>