<h1>Listing rent_details</h1>

<table>
  <tr>
    <th>Rent</th>
    <th>Movie</th>
    <th>Rentprice</th>
    <th>Delivered</th>
    <th>Delivered date</th>
    <th>Surcharge days</th>
    <th>Surcharge</th>
    <th>Pending surcharge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rent_details.each do |rent_detail| %>
  <tr>
    <td><%= rent_detail.rent_id %></td>
    <td><%= rent_detail.movie_id %></td>
    <td><%= rent_detail.rentprice_id %></td>
    <td><%= rent_detail.delivered %></td>
    <td><%= rent_detail.delivered_date %></td>
    <td><%= rent_detail.surcharge_days %></td>
    <td><%= rent_detail.surcharge %></td>
    <td><%= rent_detail.pending_surcharge %></td>
    <td><%= link_to 'Show', rent_detail %></td>
    <td><%= link_to 'Edit', edit_rent_detail_path(rent_detail) %></td>
    <td><%= link_to 'Destroy', rent_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rent detail', new_rent_detail_path %>
