<h1>Rentas</h1>

<table>
  <tr>
	<th>Cliente</th>
    <th>Rentada</th>
    <th>Película</th>
    <th>Precio</th>
	<th>Entregar el</th>
    <th>Entregada</th>    
    <th>Recargo(días)</th>
    <th>Recargo(m.n.)</th>
    <th>Pendiente</th>
    <th></th>
    <th></th>  
  </tr>

<% @rent_details.each do |rent_detail| %>
	<% rent_detail.set_surcharges %>
  <tr>
    <td><%= rent_detail.rent.customer_code_name %></td>
    <td><%= rent_detail.created_at.strftime("%d-%m-%Y %H:%M") %></td>
    <td><%= rent_detail.movie_code_name %></td>
    <td><%= number_to_currency(rent_detail.rent_price.price) %></td>
    <td><%= rent_detail.deliver_date.strftime("%d-%m-%Y %H:%M") %></td>
    <td><%= rent_detail.delivered_date.strftime("%d-%m-%Y %H:%M") if !rent_detail.delivered_date.nil? %></td>
    <td><%= rent_detail.surcharge_days %></td>
    <td><%= number_to_currency(rent_detail.surcharge) %></td>
    <td><%= number_to_currency(rent_detail.pending_surcharge) %></td>
    <td><%= link_to 'Ver', rent_detail %></td>
    <td><%= link_to 'Editar', edit_rent_detail_path(rent_detail) %></td>   
  </tr>
<% end %>
</table>

<br />


