<%= form_for(@movie_format) do |f| %>
  <% if @movie_format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_format.errors.count, "error") %> prohibited this movie_format from being saved:</h2>

      <ul>
      <% @movie_format.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field t(:name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
