<p id="notice"><%= notice %></p>

<p>
  <b><%=t :Name%>:</b>
  <%= @movie_format.name %>
</p>


<%= link_to t('Edit'), edit_movie_format_path(@movie_format) %> |
<%= link_to t('Back'), movie_formats_path %>
