<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Video Frog's
		</h1>
		<div id="user_nav">  
		  <% if user_signed_in? %>  
		    Ha iniciado sesión como <%= current_user.username %>. No eres tú?  
		    <%= link_to "Salir", destroy_user_session_path, :method => :delete %>  
		  <% else %>  		    
		    <%= link_to "Iniciar sesión", new_user_session_path %>  
		  <% end %>  
		</div>
	</div>
    	
	<div>
<%= link_to(:Rentas, rents_path) %> | <%= link_to(:Entregas, rent_details_path) %> 
	</div>
<div>
 <% flash.each do |name, msg| %>   
    <%= content_tag :div, msg, :id => "flash#{name}" %> 
  <% end %>   
</div>
	<div id="content-container">
		<div id="content">
			<p>
				<%=yield%>
			</p>
		</div>
		<div id="aside" style="display:none">
			&nbsp;
		</div>
		<div id="footer">
			Copyright © Frog's, 2011
		</div>
	</div>
</div>
</body>
</html>
